<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Insert title here</title>
</head>
<body>
	<header th:fragment="header">
		<nav class="py-2 bg-light border-bottom">
			<div class="container d-flex flex-wrap">
				<ul class="nav me-auto">
					<li class="nav-item"><a href="/"
						class="nav-link link-dark px-2 active" aria-current="page">SKLOG</a></li>
					<li class="nav-item"><a href="/std/detail"
						class="nav-link link-dark px-2">Study</a></li>
					<li class="nav-item"><a href="#"
						class="nav-link link-dark px-2">Project</a></li>
					<li class="nav-item" sec:authorize="isAuthenticated()"><a href="#"
						class="nav-link link-dark px-2">Blog</a></li>
					<li class="nav-item"><a href="#"
						class="nav-link link-dark px-2">Contact</a></li>
				</ul>
				<ul class="nav">
					<li class="nav-item" sec:authorize="!isAuthenticated()"><a href="/user/login"
						class="nav-link link-dark px-2">Sign in</a></li>
					<li class="nav-item" sec:authorize="!isAuthenticated()"><a href="/user/join"
						class="nav-link link-dark px-2">Sign up</a></li>
					<li class="nav-item" sec:authorize="isAuthenticated()"><a href="/user/logout"
						class="nav-link link-dark px-2">Logout</a></li>
						
				</ul>
			</div>
		</nav>
	</header>
</body>
</html>